{% extends 'SurvosThemesBundle::Bootstrap/base.html.twig' %}

{% block meta_title %}Admin:Patents{% endblock %}
{% block site_title %}<a href="{{ path('patent_admin_index') }}">Patent Admin</a>{% endblock %}

{% block title %}
Patents Admin
{% endblock %}

{% block page_heading %}
Tobacco Patents Administration
{% endblock %}
