{% extends '::base.html.twig' %}

{% block body %}
Welcome to Tobacco Patents (Doctrine Version)

<h3>Search</h3>

<form action='{{ path('_patent_search') }}'>
Search for: <input size='80'>
<input type='submit' value='Search'>
</form>

<h3>Or Choose a Category</h3>
{% for c in categories %}
<li><a href='{{ path('_patent_list', {'tags':c.tags}) }}'>{{ c.tags }} ({{ c.tag_count }})
{% endfor %}

{% endblock %}