{% extends "TobaccoPatentsBundle::layout.html.twig" %}

{% block body %}
Welcome to Tobacco Patents (Propel Listing, withPager)

<h3>List {{ tags }}</h3>
<i>{{ pager.getNbResults }} results, {{ pager.getNbPages }} pages.</i><br />
<ul class="listing">
{% for p in patents %}
  {% include "TobaccoPatentsBundle:Default:patent_detail.html.twig" %}
{% endfor %}
</ul>

<div class="pagerfanta">
    {{ pagerfanta( pager) }}
</div>

{% endblock %}
